# 2023-02-15, from aws-.../...

# This workflow runs static analysis checks on pull requests.
name: ci-static-analysis-py-alg

on:
  # pull_request:
  push:
    branches:
      - main
      # - nonexistent  # avoid triggering on main
  # Run once a day
  # schedule:
  #   - cron: '0 0 * * *'

jobs:
  analysis:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        category:
# Disabled pending completion of integration
# https://github.com/aws/aws-dynamodb-encryption-python/issues/66
#          - mypy-py2
#          - mypy-py3
          - bandit
          - doc8
          - readme
          - docs
          - flake8
          - pylint
          - flake8-tests
          - flake8-examples
          - pylint-tests
          - pylint-examples
          - black-check
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'  # fails with '3.11'
      - name: install requirements
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade -r python-algorithms/requirements-tox.txt
      - name: tox check
        env:
          TOXENV: ${{ matrix.category }}
        run: |
          cd python-algorithms
          tox -- -vv
